@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text: #0b150c;
    --background: #f5faf6;
    --primary: #53ba5b;
    --secondary: #a0dea5;
    --accent: #71d479;
}

html {
    scrollbar-gutter: stable both-edges;
    background-color: var(--background);
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 32px;
    padding-right: 160px;
    margin-top: 3rem;
    padding-top: 2rem;
}

h1 {
    font-family: 'Elms Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #161716;
}

h2 {
    font-family: 'Elms Sans', sans-serif;
    font-weight: 600;
    color: #161716;
}

h3 {
    font-family: 'Elms Sans', sans-serif;
    font-weight: 500;
    color: #161716;
}

p {
    font-family: 'Elms Sans', sans-serif;
    color: #161716;
}

a {
    text-decoration: none;
    font-family: 'Elms Sans', sans-serif;
    color: #161716;
    cursor: pointer;
}

.primary-button,
.secondary-button {
    font-family: 'Elms Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 32px;
    border-radius: 8px;
    cursor: pointer;
    border-color: var(--accent);
}

.primary-button {
    background-color: var(--primary);
    color: var(--background);
}

.secondary-button {
    background-color: var(--secondary);
    color: var(--background);
}

.centered-viewport {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-bottom: 20vh;
}

.packsyncr {
    font-family: 'Elms Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0rem;
    cursor: default;
}

.packsyncr-full-logo {
    width: 11.875rem;
    height: 2.5rem;
    cursor: pointer;
}

.packsyncr-full {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.packsyncr-word {
    color: var(--primary);
    font-weight: 800;
}

.nav-left-side,
.nav-right-side {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.socials img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.footer-p {
    margin: 0.25rem;
}

.footer-media {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem, 1rem;
}

.footer-header {
    font-weight: 600;
    margin: 0;
}

.footer-disclaimer {
    display: flex;
    justify-content: space-around;
    font-size: 0.85rem;
    margin-top: 1.5rem;
}

#account-section {
    width: 4.5rem;
}